nextflow.enable.dsl=2

$INITIAL_RUN_TYPE = "gzip"
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'


//pipeline defaults
//params.run_BAM_analysis "yes" @dropdown @options:"yes, no" @show_settings:"deeptools_Plot_Heatmap, params.run_IGV_TDF_Conversion, params.run_BigWig_Conversion, params.run_RSeQC" @description:"" @label:"Run BAM Analysis"
params.reads = "" //* @file @label:"Reads"
params.mate = "" //* @dropdown @options:"single, pair" @label:"Sequencing Type"
params.genome_build = "" //* @dropdown @options:"human_hg19_refseq, human_hg38_gencode_v28, human_hg38_gencode_v34, mouse_mm10_refseq, mouse_mm10_gencode_m25, mouse_mm39_gencode_m36,  mousetest_mm10, custom" @label:"Genome"

params.run_Bowtie2 = "yes" //* @dropdown @options:"yes, no" @show_settings:"Map_Bowtie2, Check_Build_Bowtie2_Index" @description:"<span style="color:red;"><b>*</b></span> This option is included in the final report." @label:"Run BowTie2"

params.run_ChIP_MACS3 = "yes" //* @dropdown @options:"yes, no" @show_settings:"ChIP_Prep, bedtools_coverage, params.run_HOMER, params.run_BigWig_Conversion, params.run_dtHeatmap, Samtools_Remove_Multimappers" @description:"<span style="color:red;"><b>*</b></span> This option is included in the final report.<br><b>Also</b>, to enable correct peak calling, please click settings and <b>Add</b> your samples in the <b>Sample Definitions</b> section as described in the descriptions of the respective sections. There are three fields needed to be entered for each sample: output-prefix, sample-prefix, and input-prefix (optional). If your experiment has background sample (input), you can specify it as an input_prefix." @label:"Run ChIP-seq MACS Peak Caller Module"
params.run_BigWig_Conversion = "no" //* @dropdown @options:"yes, no" @description:"<span style="color:red;"><b>*</b></span> This option is included in the final report." @label:"Create BigWig files"
params.run_dtHeatmap = "yes" //* @dropdown @options:"yes, no" @show_settings:"deepTools_CreateMatrix,deepTools_PlotHeatmap" @label:"Create Heatmap using deepTools" @description:"<br>color:red;"><b>*</b></span> This option is included in the final report."
params.run_HOMER = "yes" //* @dropdown @options:"yes, no" @show_settings:"HOMER_Annotate_Peaks, HOMER_Motif_Finder" @description:"<span style="color:red;"><b>*</b></span> This option is included in the final report.<br>HOMER (Hypergeometric Optimization of Motif EnRichment) is a very modular tool that allows peak annotation and novel/known motif finder." @label:"Run HOMER"

params.add_sequences_to_reference = "no" //* @dropdown @options:"yes, no" @show_settings:"params.custom_additional_genome, Add_chromosomes_to_genome_gtf" @description:"Please enter custom fasta files you want to add to the genome and enable run_Download_Genomic_Sources."
params.custom_additional_genome = "" //* @input @label:"Custom Additional Fasta File (optional)" @optional @single_file @description:"Custom fasta file to use with the main genome file."

params.replace_geneID_with_geneName = "no" //* @dropdown @options:"yes, no" @description:"Replaces gene_id attribute with gene_name attribute in the gtf file"
params.run_FastQC =  "yes"  //* @dropdown @options:"yes, no" @description:"<span style="color:red;"><b>*</b></span> This option is included in the final report."
params.run_Adapter_Removal =  "yes"  //* @dropdown @options:"yes, no" @show_settings:"Adapter_Removal" @description:"<span style="color:red;"><b>*</b></span> This option is included in the final report." @label:"Remove Adapters"
params.run_Trimmer =  "no"  //* @dropdown @options:"yes, no" @show_settings:"Trimmer" @label:"Run Trimming"
params.run_Quality_Filtering =  "no"  //* @dropdown @options:"yes, no" @show_settings:"Quality_Filtering"
params.run_Sequential_Mapping =  "no"  //* @dropdown @options:"yes, no" @show_settings:"Sequential_Mapping, Download_build_sequential_mapping_indexes" @label:"Do Sequential Mapping"

params.run_Remove_Multimappers_with_Samtools = "no"  //* @dropdown @options:"yes, no"
params.run_Remove_Multimappers_with_Picard = "yes" //* @dropdown @options:"yes, no"
params.run_Picard_CollectMultipleMetrics = "no" //* @dropdown @options:"yes, no"
params.run_IGV_TDF_Conversion = "no" //* @dropdown @options:"yes, no" @show_settings:"IGV_BAM2TDF_converter"
params.run_RSeQC = "no" //* @dropdown @options:"yes, no" @label:"Run RSeQC"

params.run_UMIextract = "no" //* @dropdown @options:"yes, no" @show_settings:"UMIextract" @label:"Extract UMI Data"
params.run_Download_Genomic_Sources = "no" //* @dropdown @options:"yes, no" @show_settings:"params.replace_geneID_with_geneName, params.gtf_type" @label:"Download Genomic Sources"
params.gtf_type='ensembl' //*  @dropdown @options:"ensembl, gencode, ncbi"

params.create_report = "yes" //* @dropdown @options:"yes, no" @label:"Create Report" @show_settings:"params.report_header_logo,params.report_institute_web_page,params.report_institute_name,params.report_institute_email,params.report_institute_message,params.report_institute_css"
params.report_header_logo = "" //* @optional @single_file @label:"Header Logo"
params.report_institute_web_page = "" //* @input @optional @label:"Institute WebPage"
params.report_institute_email = "" //* @input @optional @label:"Institute EMail"
params.report_institute_name = "" //* @input @optional @label:"Institute Name"
params.report_institute_css = "" //* @input @optional @label:"Institute Theme"
params.report_institute_message = "" //* @input @optional @label:"Institute Message"
params.report_footer_logo = "" //* @single_file

params.institute_email = params.institute_email ? params.institute_email : "support@viascientific.com"
params.institute_name  = params.institute_name ? params.institute_name : "Via Scientific"
params.company_logo    = params.company_logo ? params.company_logo : "https://www.viafoundry.com/test_data/logo/vs-logo-generic-128x128.png"
params.institute_web_page = params.institute_web_page ? params.institute_web_page : "https://www.viascientific.com"

params.report_header_logo = params.report_header_logo ? params.report_header_logo : params.company_logo
params.report_institute_web_page = params.report_institute_web_page ? params.report_institute_web_page : params.institute_web_page
params.report_institute_email = params.report_institute_email ? params.report_institute_email : params.institute_email
params.report_institute_name = params.report_institute_name ? params.report_institute_name : params.institute_name
params.report_institute_message = params.report_institute_message ? params.report_institute_message : "Science Accelerated."
params.report_institute_css = params.report_institute_css ? params.report_institute_css : "https://www.viafoundry.com/test_data/styles/via-report.css"
// params.report_institute_message = params.report_institute_message ? params.report_institute_message : params.institute_message
// params.report_institute_css = params.report_institute_css ? params.report_institute_css : params.institute_css

//* @report_order:["ChIP_Report"]

params.pipe_name = "ChIP"

includeConfig 'conf/base.config'

process {
    withLabel: fastq_preprocessing {
        container = 'public.ecr.aws/t4w5x8f2/viascientific/fastq_preprocessing:1.0'
    }
    withLabel: base_image {
        container = 'quay.io/viascientific/pipeline_base_image:1.0'
    }
}

profiles {
  foundry_slurm {
    process {
      withName: 'HOMER_Module_HOMER_Motif_Finder' {
        containerOptions = "-B \$PWD:/opt/homerdata"
      }
      withName: 'HOMER_Module_HOMER_Annotate_Peaks' {
        containerOptions = "-B \$PWD:/opt/homerdata"
      }
    }
  }
  foundry_lsf {
    process {
      withName: 'HOMER_Module_HOMER_Motif_Finder' {
        containerOptions = "-B \$PWD:/opt/homerdata"
      }
      withName: 'HOMER_Module_HOMER_Annotate_Peaks' {
        containerOptions = "-B \$PWD:/opt/homerdata"
      }
    }
  }
}
