nextflow.enable.dsl=2

$INITIAL_RUN_TYPE = "gzip"
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
//pipeline defaults
params.genome_build = "" //* @dropdown @options:"human_hg19_refseq, human_hg38_gencode_v28, human_hg38_gencode_v34, mouse_mm10_refseq, mouse_mm10_gencode_m25, rat_rn6_refseq, rat_rn6_ensembl_v86, zebrafish_GRCz11_ensembl_v95, zebrafish_GRCz11_refseq, zebrafish_GRCz11_v4.1.2, c_elegans_ce11_ws245, s_cerevisiae_sacCer3_refseq, s_pombe_ASM294v2_ensembl_v31, d_melanogaster_dm6_refseq, mousetest_mm10, custom"
params.run_Bowtie2 = "yes" //* @dropdown @options:"yes","no" @show_settings:"Map_Bowtie2, Check_Build_Bowtie2_Index"
params.run_ChIP_MACS2 = "yes" //* @dropdown @options:"yes","no" @show_settings:"ChIP_Prep","bedtools_coverage" @description:"<span style="color:red;">Important:</span> To enable peak calling, please click settings of <b>run_ChIP_MACS2</b> and enter your samples by right click and <b>Paste reads collection names option</b> in the <b>Sample Definitions</b> section as described in the description of the pipeline. There are three fields need to be entered for each sample: output-prefix, sample-prefix, and input-prefix (optional). If your experiment has background sample (input), you can specify as an input-prefix."
params.gtf_type='ensembl' //*  @dropdown @options:"ensembl","gencode","ncbi"
params.custom_additional_genome = "" //* @input @label:"Custom Additional Fasta File (optional)" @optional @single_file @description:"Custom fasta file to use with the main genome file."
params.add_sequences_to_reference = "no" //* @dropdown @options:"yes","no" @show_settings:"params.custom_additional_genome, Add_chromosomes_to_genome_gtf" @description:"Please enter custom fasta files you want to add to the genome and enable run_Download_Genomic_Sources."
params.replace_geneID_with_geneName = "no" //* @dropdown @options:"yes,no" @description:"Replaces gene_id attribute with gene_name attribute in the gtf file"
params.run_FastQC =  "yes"  //* @dropdown @options:"yes","no"
params.run_Adapter_Removal =  "no"  //* @dropdown @options:"yes","no" @show_settings:"Adapter_Removal"
params.run_Trimmer =  "no"  //* @dropdown @options:"yes","no" @show_settings:"Trimmer"
params.run_Quality_Filtering =  "no"  //* @dropdown @options:"yes","no" @show_settings:"Quality_Filtering"
params.run_Sequential_Mapping =  "no"  //* @dropdown @options:"yes","no" @show_settings:"Sequential_Mapping, Download_build_sequential_mapping_indexes"
params.run_UMIextract = "no" //* @dropdown @options:"yes","no" @show_settings:"UMIextract"
params.run_Remove_Multimappers_with_Samtools = "no"  //* @dropdown @options:"yes","no"
params.run_Remove_Multimappers_with_Picard = "yes" //* @dropdown @options:"yes","no"
params.run_Scripture = "no" //* @dropdown @options:"yes","no" @show_settings:"Scripture_peakrescore"
params.run_Picard_CollectMultipleMetrics = "no" //* @dropdown @options:"yes","no"
params.run_IGV_TDF_Conversion = "no" //* @dropdown @options:"yes","no" @show_settings:"IGV_BAM2TDF_converter"
params.run_RSeQC = "no" //* @dropdown @options:"yes","no"
params.run_BigWig_Conversion = "no" //* @dropdown @options:"yes","no"
params.run_Download_Genomic_Sources = "no" //* @dropdown @options:"yes","no"  @show_settings:"params.replace_geneID_with_geneName, params.gtf_type"


includeConfig 'conf/base.config'

process {
    withLabel: fastq_preprocessing {
        container = 'public.ecr.aws/t4w5x8f2/viascientific/fastq_preprocessing:1.0'
    }
    withLabel: base_image {
        container = 'quay.io/viascientific/pipeline_base_image:1.0'
    }
}

profiles {
  test { includeConfig 'conf/test.config' }
  docker { 
        process.container = "public.ecr.aws/t4w5x8f2/viascientific/chipatacseq:1.0"
        params.DOWNDIR="$HOME" // path where genome data will be saved and it should be different than run directory
        docker.enabled = true 
        docker.runOptions = "-v ${params.DOWNDIR}:${params.DOWNDIR}" 
            
  }
  singularity { 
        process.container = "public.ecr.aws/t4w5x8f2/viascientific/chipatacseq:1.0"
        params.DOWNDIR="$HOME" // path where genome data will be saved and it should be different than run directory
        singularity.enabled = true 
        singularity.runOptions = "--bind ${params.DOWNDIR}" 
  }
}

